<section class="header">
  <aside class="container">
    <aside class="row">
      <aside class="left-row">
        <span class="material-icons-round"> menu </span>
        <div class="input-bar">
          <input type="text" class="input" placeholder="Search..." />
          <span class="material-icons-round search"> search </span>
        </div>
      </aside>
      <aside class="right-row">
        <div class="image">
          <img class="flag" src="../../../../assets/images/MicrosoftTeams-image (1).png" />

        </div>
        <span class="material-icons-outlined">
          dashboard
          </span>
        <span class="material-icons-outlined">
          shopping_bag
          </span>      <span class="material-icons-outlined"> fullscreen </span>
        <span class="material-icons-outlined">
          dark_mode
          </span>
          <span class="material-icons-outlined">
            notifications
            </span>       <aside class="profile">
          <img
            class="prof-img"
            src="../../../../assets/images/27470334_7309681.jpg"
          />
          <div>
            <h4>Anna Adame</h4>
            <h5>Founder</h5>
          </div>
        </aside>
      </aside>
    </aside>
  </aside>
 
</section>
