@use "base" as *;
.header {
  height: auto;
  .container{
    padding: 0 1em 0 1em;

    .row {
      width: auto;
      display: flex;
    
      justify-content: center;
      .left-row {
        width: 50%;
        display: flex;
        align-items: center;
        gap: 1em;
       
        .input-bar{
          display: flex;
          align-items: center;
          position: relative;
          .input{
            padding: 0.8em 0.5em 0.8em 3.5em;
            border: none;
            border-radius: 3px;
            font-size: 1em;
            background-color: rgb(238, 239, 239);
          }
          .search{
            position: absolute;
            left: 10px;
          }
        }
      }
      .right-row {
        width: 50%;
        display: flex;
        justify-content: right;
        gap: 1em;
        align-items: center;
       .material-icons-outlined{
        color: rgb(107, 106, 106);
        background-color: rgba(0, 0, 255, 0);
        padding: 0.3em;
        border-radius: 50%;
        cursor: pointer;
  
       }
        .material-icons-outlined:hover{
          cursor: pointer;
          transition: all 0.3s ease-in-out;
    
          background-color: rgb(222, 227, 232);
        }
        .image{
          cursor: pointer;
          background-color: rgba(0, 0, 255, 0);
          display: flex;
          align-items: center;
          padding: 0.8em 0.5em 0.8em 0.7em;
          justify-content: center;

          border-radius: 50%;
          &:hover{
            transition: all 0.3s ease-in-out;
            background-color: rgb(222, 227, 232);
          }
          .flag {
            width: 1.3em;
           
          
          }
        }
        
       
  
       
        .profile {
          display: flex;
          align-items: center;
          gap: 1em;
          padding: 0.5em;
          background-color: rgb(238, 239, 239);
          .prof-img {
            width: 4em;
            height: 8vh;
            border-radius: 50%;
          }
        }
      }
    }
  }
  
}
