<section class="header">
  <aside class="container">
    <aside class="row">
      <aside class="left-row">
        <span class="material-icons-round"> menu </span>
        <div class="input-bar">
          <input type="text" class="input" placeholder="Search..." />
          <span class="material-icons-round search"> search </span>
        </div>
      </aside>
      <aside class="right-row">
        <label for="dropdown-checkbox">
          <div class="image dropdown-toggle">
            <img
              class="flag"
              src="../../../../assets/images/MicrosoftTeams-image (1).png"
            />
          </div>
        </label>
        <input type="checkbox" id="dropdown-checkbox" class="dropdown-checkbox" />
        <div class="dropdown-content">
          <a href="#"><img class="img" src="../../../../assets/images/united-states (1).png">English</a>
          <a href="#"><img class="img" src="../../../../assets/images/spain.png">Spanish</a>
          <a href="#"><img class="img" src="../../../../assets/images/germany.png">Dutch</a>
          <a href="#"><img class="img" src="../../../../assets/images/italy.png">Italian</a>
          <a href="#"><img class="img" src="../../../../assets/images/russia.png">Russian</a>
          <a href="#"><img class="img" src="../../../../assets/images/china.png">Chinese</a>
        </div>
        <span class="material-icons-outlined"> dashboard </span>
        <span class="material-icons-outlined"> shopping_bag </span>
        <span class="material-icons-outlined full"> fullscreen </span>
        <span class="material-icons-outlined dark"> dark_mode </span>
        <span class="material-icons-outlined"> notifications </span>
        <aside class="profile">
          <img
            class="prof-img"
            src="../../../../assets/images/27470334_7309681.jpg"
          />
          <div class="pro-text">
            <h6>Anna Adame</h6>
            <h6>Founder</h6>
          </div>
        </aside>
      </aside>
    </aside>
  </aside>
</section>
