<section class="main-content">
    <div class="container">
        <aside class="top-row">
            <aside class="left-row">
                <h3>Good Morning, Anna!</h3>
                <p style="color: rgb(128, 128, 128);">Here's What's happening with your store today</p>
            </aside>
            <aside class="right-row">
                <div class="cal">
                    <input class="calendar" type="date">
                    <span class="material-icons-outlined calndr">
                        date_range
                        </span>
                </div>
             
             <aside class="add-prod">
                <span class="material-icons-outlined plus">
                    add_circle_outline
                    </span>
                    <h6>Add Product</h6>
             </aside>
             <aside class="graph">
                <span class="material-icons-outlined">
                    show_chart
                    </span>
             </aside>

            </aside>

        </aside>
        <aside class="bottom-row">
            <aside class="col-md-3">
                <aside class="inner-left">
                    <h5 class="tot">TOTAL EARNINGS</h5>
                   <h3>$559.9k</h3>
                 
                    <h5 class="view-net">View net earnings</h5>
                  
                </aside>
                <aside class="inner-right">
                    <aside class="inner-top">
                        <span class="material-icons-outlined arrow">
                            north_east
                            </span>
                        <h5>+16.4 %</h5>
                    </aside>
                    <aside class="inner-bottom">
                        <span class="material-icons-outlined">
                            monetization_on
                            </span>
                    </aside>

                </aside>
            </aside>
            <aside class="col-md-3">
                <aside class="inner-left">
                    <h5 class="tot">ORDER</h5>
                   <h3>37,766</h3>
                 
                    <h5 class="view-net">View all orders</h5>
                  
                </aside>
                <aside class="inner-right">
                    <aside class="inner-top two">
                        <span class="material-icons-outlined arrow two">
                            south_east
                            </span>
                        <h5>+16.4 %</h5>
                    </aside>
                    <aside style="background-color: rgb(212, 245, 240);" class="inner-bottom">
                        <span style="color: rgb(23, 93, 191);" class="material-icons-outlined">
                            shopping_bag
                            </span> 
                    </aside>

                </aside>
            </aside>
            <aside class="col-md-3">
                <aside class="inner-left">
                    <h5 class="tot">CUSTOMER</h5>
                   <h3>185.65M</h3>
                 
                    <h5 class="view-net">See details</h5>
                  
                </aside>
                <aside class="inner-right">
                    <aside class="inner-top">
                        <span class="material-icons-outlined arrow">
                            north_east
                            </span>
                        <h5>+28.4 %</h5>
                    </aside>
                    <aside  style="background-color: rgb(236, 201, 152);"  class="inner-bottom">
                        <span  style="color: rgb(228, 117, 19);"  class="material-icons-outlined">
                            account_circle
                            </span>
                    </aside>

                </aside>
            </aside>
            <aside class="col-md-3">
                <aside class="inner-left">
                    <h5 class="tot">MY BALANCE</h5>
                   <h3>$199.9k</h3>
                 
                    <h5 class="view-net">Withdraw money</h5>
                  
                </aside>
                <aside class="inner-right">
                    <aside class="inner-top three">
                        
                        <h5>+0.00 %</h5>
                    </aside>
                    <aside style="background-color: rgb(228, 194, 238);" class="inner-bottom">
                        <span style="color: rgb(140, 20, 196);"  class="material-icons-outlined">
                            wallet
                            </span>
                    </aside>

                </aside>
            </aside>
        </aside>
    </div>
</section>
