<section class="main-content">
  <div class="container">
    <aside class="top-row">
      <aside class="col-md-2 one">
        <aside class="col-top">
            <h6>CAMPAIGN SENT</h6>
            <span class="material-icons-outlined up">
                arrow_circle_up
                </span>
        </aside>
        <aside class="col-bottom">
            <span class="material-icons-outlined">
                rocket
                </span>
                <h2 style="color: black;">197</h2>
        </aside>
      </aside>
      <aside class="col-md-2 two">
        <aside class="col-top">
            <h6>ANNUAL PROFIT</h6>
            <span class="material-icons-outlined up">
                arrow_circle_up
                </span>
        </aside>
        <aside class="col-bottom">
            <span class="material-icons-outlined">
                currency_exchange
                </span>
                <h2 style="color: black;">$499.9k</h2>
        </aside>
      </aside>
      <aside class="col-md-2 three">
        <aside class="col-top">
            <h6>LEAD CONVERSATION</h6>
            <span class="material-icons-outlined down">
                arrow_circle_down
                </span>
        </aside>
        <aside class="col-bottom">
            <span class="material-icons-outlined">
                timeline
                </span>
                <h2 style="color: black;">34.5%</h2>
        </aside>
      </aside>
      <aside class="col-md-2 four">
        <aside class="col-top">
            <h6>DAILY AVERAGE INCOME</h6>
            <span class="material-icons-outlined up">
                arrow_circle_up
                </span>
        </aside>
        <aside class="col-bottom">
            <span class="material-icons-outlined">
                emoji_events
                </span>
                <h2 style="color: black;">$1,583.94</h2>
        </aside>
      </aside>
      <aside class="col-md-2 five">
        <aside class="col-top">
            <h6>ANNUAL DEALS</h6>
            <span class="material-icons-outlined down">
                arrow_circle_down
                </span>
        </aside>
        <aside class="col-bottom">
            <span class="material-icons-outlined">
                handshake
                </span>
                <h2 style="color: black;">2,533</h2>
        </aside>
      </aside>
    </aside>
    <aside class="bottom-row"></aside>
  </div>
</section>

<section class="card-content">
    <div class="container">
        <aside class="left-row">
            <aside class="sub-left-one">
             <aside class="top">
                <h4>sales Forcast</h4>
                <h5>SORT BY:</h5>
             </aside>
             <aside class="graph">
                <img class="img" src="../../../../assets/images/Screenshot 2023-06-06 153048.png">
             </aside>
             
            </aside>
            <aside class="sub-left-two">
               
                    <aside class="top">
                       <h4>sales Forcast</h4>
                       <h5>SORT BY:</h5>
                    </aside>
                    <aside class="graph">
                       <img class="img" src="../../../../assets/images/Screenshot 2023-06-06 153533.png">
                    </aside>
                    
                   </aside>
          
        </aside>
        <aside class="right-row">
            <aside class="top">
                <h4>sales Forcast</h4>
                <h5>SORT BY:</h5>
             </aside>
             <aside class="graph-2">
                <img class="img-2"  src="../../../../assets/images/Screenshot 2023-06-06 154855.png">
             </aside>

        </aside>
    </div>
</section>
