<section class="main-content">
  <div class="container">
    <aside class="row">
      <aside class="left-row">
        <aside class="top-row">
          <h4>Best Selling products</h4>
          <div>
            <label class="sort" for="dropdown">Sort By :</label>
            <select id="dropdown">
              <option value="option1">Today</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
              <option value="option4">Option 4</option>
              <option value="option5">Option 5</option>
            </select>
          </div>
        </aside>

        <aside class="table-row">
          <table>
            <tr class="table-cnt">
              <td class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/16188195_Isolated_white_t-shirt_front (1).jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </td>
              <td class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </td>
              <td class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </td>
              <td class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </td>
              <td class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </td>
            </tr>
            <ul class="table-cnt">
              <li class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/7043780_880 (1).jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </li>
              <li class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </li>
              <li class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </li>
              <li class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </li>
              <li class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </li>
            </ul>
            <tr class="table-cnt">
              <td class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/3439795_62037 (1).jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </td>
              <td class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </td>
              <td class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </td>
              <td class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </td>
              <td class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </td>
            </tr>
            <tr class="table-cnt">
              <td class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/7043782_882 (1).jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </td>
              <td class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </td>
              <td class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </td>
              <td class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </td>
              <td class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </td>
            </tr>
            <tr class="table-cnt">
              <td class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/22602822_motorcycle_helmet_01 (1).jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </td>
              <td class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </td>
              <td class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </td>
              <td class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </td>
              <td class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </td>
            </tr>
          </table>
        </aside>
        <aside class="footer">
          <aside class="left-foot">
            <h6>Showing 5 of 25 results</h6>
          </aside>
          <aside class="right-foot">
            <a href=""
              ><span class="material-icons-outlined arrow">
                keyboard_backspace
              </span></a
            >
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href=""
              ><span class="material-icons-outlined arrow two"> east </span></a
            >
          </aside>
        </aside>
      </aside>
      <aside class="right-row">
        <aside class="top-row">
          <h4>Top Sellers</h4>
          <div>
            <label for="dropdown"></label>
            <select id="dropdown">
              <option value="option1">Report</option>
              <option value="option2">Option 2</option>
              <option value="option3">Option 3</option>
              <option value="option4">Option 4</option>
              <option value="option5">Option 5</option>
            </select>
          </div>
        </aside>

        <aside class="table-row">
          <table>
            <tr class="table-cnt">
              <td class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/28560857_christmas_2012_new_5891.jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </td>
              <td class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </td>
              <td class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </td>
              <td class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </td>
              <td class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </td>
            </tr>
            <tr class="table-cnt">
              <td class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/33399663_8011901.jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </td>
              <td class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </td>
              <td class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </td>
              <td class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </td>
              <td class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </td>
            </tr>
            <tr class="table-cnt">
              <td class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/825159_preview.jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </td>
              <td class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </td>
              <td class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </td>
              <td class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </td>
              <td class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </td>
            </tr>
            <tr class="table-cnt">
              <td class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/11030436_946.jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </td>
              <td class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </td>
              <td class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </td>
              <td class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </td>
              <td class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </td>
            </tr>
            <tr class="table-cnt">
              <td class="first-box">
                <img
                  class="shirt"
                  src="../../../../assets/images/825159_preview.jpg"
                />
                <div>
                  <h6>Branded T-shirts</h6>
                  <h6>24 April 2021</h6>
                </div>
              </td>
              <td class="second-box">
                <h6>$29.00</h6>
                <h6>price</h6>
              </td>
              <td class="third-box">
                <h6>62</h6>
                <h6>Orders</h6>
              </td>
              <td class="fourth-box">
                <h6>510</h6>
                <h6>Stocks</h6>
              </td>
              <td class="fifth-box">
                <h6>$1111.00</h6>
                <h6>Amount</h6>
              </td>
            </tr>
          </table>
        </aside>
        <aside class="footer">
          <aside class="left-foot">
            <h6>Showing 5 of 25 results</h6>
          </aside>
          <aside class="right-foot">
            <a href=""
              ><span class="material-icons-outlined arrow">
                keyboard_backspace
              </span></a
            >
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href=""
              ><span class="material-icons-outlined arrow two"> east </span></a
            >
          </aside>
        </aside>
      </aside>
    </aside>
  </div>
</section>
