<section class="main-content">
  <div class="container">
    <aside class="row">
      <aside class="left-row">
        <aside class="top-row">
          <h5>Store visits By Source</h5>
          <label for="dropdown"></label>
          <select id="dropdown">
            <option value="option1">Report</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
            <option value="option5">Option 5</option>
          </select>
        </aside>
        <aside class="graph">
            <img class="round" src="../../../../assets/images/Screenshot 2023-06-01 142656.png">
        </aside>

        <aside class="footer">
            <div class="foot">
                <span style="color: blue;" class="material-icons-round">
                    fiber_manual_record
                    </span>
                    <h6>Direct</h6>
            </div>
            <div class="foot">
                <span style="color: rgb(43, 154, 65);" class="material-icons-round">
                    fiber_manual_record
                    </span>
                    <h6>Social</h6>
            </div>
            <div class="foot">
                <span style="color: rgb(255, 140, 0);"class="material-icons-round">
                    fiber_manual_record
                    </span>
                    <h6>E-mail</h6>
            </div>
            <div class="foot">
                <span style="color: rgb(255, 0, 0);" class="material-icons-round">
                    fiber_manual_record
                    </span>
                    <h6>Other</h6>
            </div>
            <div class="foot">
                <span style="color: rgb(74, 153, 198);" class="material-icons-round">
                    fiber_manual_record
                    </span>
                    <h6>referrals</h6>
            </div>
            
        </aside>
      </aside>
      <aside class="right-row">
        <aside class="right-top">
            <aside class="left-section">
                <h5>Recent Orders</h5>
            </aside>
            <aside class="right-section">
                <span class="material-icons-round">
                    description
                    </span>
                    <h6>Generate Report</h6>
            </aside>
        </aside>
        <aside class="table-section">
            <table [cellPadding]="10" [cellSpacing]="20" id="table">
                <tr id="head">
                    <th>Order ID</th>
                    <th style="width: 11em;
                    text-align: initial;">Customer</th>
                    <th  style="width: 9em;
                    text-align: initial;">Product</th>
                    <th  style="
                    text-align: initial;">Amount</th>
                    <th  style="width: 9em;
                    text-align: initial;">Vendor</th>
                    <th>Status</th>
                    <th>Rating</th>
                </tr>

                <tr class="td">
                    <td>#vz2112</td>
                    <td class="sec">
                        <img class="img" src="../../../../assets/images/27470334_7309681.jpg">
                        <h6>Alex Smith</h6>
                    </td>
                    <td class="third">Clothes</td>
                    <td class="amnt">$190.00</td>
                    <td>Zoetic Fashion</td>
                    <td class="stat one">Paid</td>
                    <td class="last">
                        <h6>5.0 (61 votes)</h6>
                        
                    </td>
                </tr>
                <tr class="td">
                    <td>#vz2112</td>
                    <td class="sec">
                        <img class="img" src="../../../../assets/images/27470334_7309681.jpg">
                        <h6>Jansh Brown</h6>
                    </td>
                    <td class="third">Kitchen Storage</td>
                    <td class="amnt">$190.00</td>
                    <td>Zoetic Fashion</td>
                    <td class="stat unp">UnPaid</td>
                    <td class="last">
                        <h6>5.0 (61 votes)</h6>
                    </td>
                </tr>
                <tr class="td">
                    <td>#vz2112</td>
                    <td class="sec">
                        <img class="img" src="../../../../assets/images/27470334_7309681.jpg">
                        <h6>Ayaan Bowen</h6>
                    </td>
                    <td class="third">Bike Accesories</td>
                    <td class="amnt">$190.00</td>
                    <td>Zoetic Fashion</td>
                    <td class="stat one">Paid</td>
                    <td class="last">
                        <h6>5.0 (61 votes)</h6>
                    </td>
                </tr>
                <tr class="td">
                    <td>#vz2112</td>
                    <td class="sec">
                        <img class="img" src="../../../../assets/images/27470334_7309681.jpg">
                        <h6>Prezy Mark</h6>
                    </td>
                    <td class="third">Furniture</td>
                    <td class="amnt">$190.00</td>
                    <td>Zoetic Fashion</td>
                    <td class="stat pend">Pending</td>
                    <td class="last">
                        <h6>5.0 (61 votes)</h6>
                    </td>
                </tr>
                <tr class="td">
                    <td>#vz2112</td>
                    <td class="sec">
                        <img class="img" src="../../../../assets/images/27470334_7309681.jpg">
                        <h6>Vihan Hudda</h6>
                    </td>
                    <td class="third">Bags & Wallets</td>
                    <td class="amnt">$190.00</td>
                    <td>Zoetic Fashion</td>
                    <td class="stat one">Paid</td>
                    <td class="last">
                        <h6>5.0 (61 votes)</h6>
                    </td>
                </tr>

            </table>
        </aside>
      </aside>
    </aside>
  </div>
</section>
