<section class="main-content">
  <div class="container">
    <aside class="row">
      <aside class="left-row">
        <aside class="col-md-6">
          <aside class="left-col">
            <h4>Revenue</h4>
          </aside>
          <aside class="right-col">
            <ul>
                <li class="time-p">ALL</li>
                <li class="time-p">1M</li>
                <li class="time-p">6M</li>
                <li class="time-p last">1Y</li>
            </ul>
          </aside>
        </aside>

        <aside class="col-md-3">
          <aside class="cols first">
            <h3>7575</h3>
            <p>Orders</p>
          </aside>
          <aside class="cols">
            <h3>$45</h3>
            <p>Earnings</p>
          </aside>
          <aside class="cols">
            <h3>393</h3>
            <p>Refunds</p>
          </aside>
          <aside class="cols last">
            <h3>18%</h3>
            <p>Conversation ratio</p>
          </aside>
        </aside>
        <aside class="graph">
          <img class="img-graph"
            src="../../../../assets/images/Screenshot 2023-05-31 153802.png"
          />
        </aside>
        <aside class="footer">
            <aside class="dot-content">
                <span style="color: blue;" class="material-icons-round dot">
                    fiber_manual_record
                    </span>
                    <p>Orders</p>
            </aside>
            <aside style="color: rgb(228, 115, 34);"  class="dot-content">
                <span class="material-icons-round dot">
                    fiber_manual_record
                    </span>
                    <p>Earnings</p>
            </aside>
            <aside style="color: rgb(80, 234, 19);"  class="dot-content">
                <span class="material-icons-round dot">
                    fiber_manual_record
                    </span>
                    <p>Refunds</p>
            </aside>
        </aside>
      </aside>
      <aside class="right-row">
        <aside class="col-md-6">
            <aside class="left-row-two">
                <h4>Sales by Locations</h4>
            </aside>
            <aside class="right-row-two">
                <h6 class="export">Export report</h6>
            </aside>
        </aside>
        <aside class="loc-img">
            <img class="map" src="../../../../assets/images/Screenshot 2023-05-31 155659.png">
        </aside>
        <aside class="load-sec">
            <aside class="loadings">
                <div class="pl">
                    <h6>canada</h6>
                    <h5>75%</h5>
                </div>
                <span class="loading">
                    <span class="inner-load one"></span>
                </span>
            </aside>
            <aside class="loadings">
                <div class="pl">
                    <h6>Greenland</h6>
                    <h5>47%</h5>
                </div>
                <span class="loading">
                    <span class="inner-load two"></span>
                </span>
            </aside >
            <aside class="loadings">
                <div class="pl">
                    <h6>Russia</h6>
                    <h5>82%</h5>
                </div>
                <span class="loading">
                    <span class="inner-load three"></span>
                </span>
            </aside>
        </aside>

      </aside>
    </aside>
  </div>
</section>
