<section class="main-content">
  <div class="container">
    <aside class="row">
      <aside class="header">
        <h2>VELZON</h2>
      </aside>
      <aside class="body">
        <h6>menu</h6>
        <div class="das">
          <input type="checkbox" id="toggle-list1" class="toggle-checkbox" />
          <label for="toggle-list1" class="dash">
            <span class="material-icons-outlined"> speed </span>
            Dashboard
          </label>
          
          <ul id="list1" class="list">
            <li>Item 1 - List 1</li>
            <li>Item 2 - List 1</li>
            <li>Item 3 - List 1</li>
          </ul>
        </div>
        <div class="das">
          <input type="checkbox" id="toggle-list2" class="toggle-checkbox" />
          <label for="toggle-list2">Apps</label>
          <ul id="list2" class="list">
            <li>Item 1 - List 2</li>
            <li>Item 2 - List 2</li>
            <li>Item 3 - List 2</li>
          </ul>
        </div>
      </aside>
    </aside>
  </div>
</section>
