<section class="main-content">
  <aside class="row">
    <aside class="header">
      <h2>V<span class="e">e</span>LZON</h2>
    </aside>
    <aside class="body">
      <h6>menu</h6>
      <div class="das">
        <input type="checkbox" id="toggle-list1" class="toggle-checkbox" />
        <label for="toggle-list1" class="dash">
          <span class="material-icons-outlined">speed</span>
         <span class="text">Dashboard</span> 
          <span class="material-icons-outlined dropdown-icon">keyboard_arrow_down</span>
        </label>
      
        <ul id="list1" class="list">
          <li>- Analytics</li>
          <!-- <li [routerLink]="['/analytics']">- CRM</li> -->
          <li><a href="analytics">- Analytics</a></li>
         
          <li>- Crypto</li>
          <li>- Projects</li>
          <li>- NFT</li>
          <li>- Job</li>
        </ul>
      </div>
      
      <div class="das">
        <input type="checkbox" id="toggle-list2" class="toggle-checkbox" />
        <label class="dash" for="toggle-list2"
          ><span class="material-icons-outlined"> grid_view </span><span class="text">Apps</span> <span class="material-icons-outlined dropdown-icon-two">keyboard_arrow_down</span>
          </label
        >
        <ul id="list2" class="list">
          <li>- Calendar</li>
          <li>- Chat</li>
          <li>- Ecommerce</li>
          <li>- Projects</li>
          <li>- Tasks</li>
          <li>- CRM </li>
          <li>- Crypto</li>
          <li>- Invoices</li>
          <li>- Support Tickets </li>
          <li>- NFT Marketplace</li>
          <li>- File Manager</li>
          <li>- To Do</li>
          <li>- Jobs</li>
        </ul>
      </div>
      <div class="das">
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> view_comfy </span
          ><span class="text">Layouts</span></label
        >
      </div>
      <h6>Pages</h6>
      <div class="das">
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> account_circle </span
          ><span class="text">Authentication</span>  <span class="material-icons-outlined dropdown-icon-three">keyboard_arrow_down</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> contact_page </span
          ><span class="text">Pages</span>  <span class="material-icons-outlined dropdown-icon-four">keyboard_arrow_down</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> rocket </span><span class="text">Landing</span>   <span class="material-icons-outlined dropdown-icon-five">keyboard_arrow_down</span></label
        >
      </div>
      <h6>Components</h6>
      <div class="das">
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> design_services </span><span class="text">Base
            UI</span>  <span class="material-icons-outlined dropdown-icon-six">keyboard_arrow_down</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> crop_square </span><span class="text">Advance
            UI </span> <span class="material-icons-outlined dropdown-icon-seven">keyboard_arrow_down</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> feed </span><span class="text">Widgets</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> description </span
          ><span class="text">Forms</span>  <span class="material-icons-outlined dropdown-icon-eight">keyboard_arrow_down</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> window </span><span class="text">Tables</span>  <span class="material-icons-outlined dropdown-icon-nine">keyboard_arrow_down</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> pie_chart </span><span class="text">Charts</span>  <span class="material-icons-outlined dropdown-icon-ten">keyboard_arrow_down</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> insert_emoticon </span
          ><span class="text">Icons</span> <span class="material-icons-outlined dropdown-icon-eleven">keyboard_arrow_down</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> location_on </span><span class="text">Maps</span> <span class="material-icons-outlined dropdown-icon-twelve">keyboard_arrow_down</span></label
        >
        <label class="dash" for="toggle-list"
          ><span class="material-icons-outlined"> share </span><span class="text">Multi
            Level</span> <span class="material-icons-outlined dropdown-icon-thirteen">keyboard_arrow_down</span></label
        >
      </div>
    </aside>
  </aside>
</section>
